/* .md-editor-preview {
  height: fit-content;
}
.md-editor-content {
  height: "100%";
  background-color: aqua;
} */
.cm-line {
  padding: 2px 2px 2px 6px !important;
  white-space: normal;
  overflow-wrap: break-word;
  min-height: 1.5rem;
}
.cm-content {
  font-size: medium;
  padding-left: 10px;
  max-width: calc(95%);
}

.wmde-markdown ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: dics !important;
}
.wmde-markdown ol > .wmde-markdown ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: circle !important;
}

.wmde-markdown ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal !important;
}

/* ul {
  list-style: circle !important;
  list-style-type: disc !important;
  padding-left: 20px;}

li {
  margin-bottom: 10px; 
}
li::marker {
  color: black;
}

@media (prefers-color-scheme: dark) {
  li::marker {
    color: white;
  }
} */
