.cm-line {
  padding: 2px 2px 2px 6px !important;
  min-height: 1.5rem;
  white-space: pre-wrap; /* Preserves spaces and wraps text */
  word-wrap: break-word; /* Ensures long words break to a new line */
}
.cm-content {
  font-size: medium;
  padding-left: 10px;
  max-width: calc(95%);
}

.wmde-markdown ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: disc;
}

.wmde-markdown li > ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: circle;
}

ol.wmde-markdown {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal;
}
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: decimal;
}
